<div class="content">
  <p>Sandrine Chiavazza est au bénéfice d’un master en droit de l’Université de Lausanne. Dans le cadre d’une convention d’échanges, elle a étudié les relations internationales au sein de l’Université de Belgrano à Buenos Aires où elle a rédigé un travail de master sur la responsabilité des entités non étatiques en matière de violation des droits de l’homme.</p>
  <p>En novembre 2008, elle a effectué son stage d’avocat au sein de l’Etude Loroch Elkaim & Associés, sous la direction de Me Sandrine Osojnak.</p>
  <p>De langue maternelle française, elle parle couramment anglais et espagnol, et a de très bonnes connaissances en allemand et italien.</p>
</div>