<div class="content">
  <p>Sandrine Chiavazza est chargée de cours au sein de la Société des employés de commerce (SEC). Elle y donne les cours d’organisation judiciaire, procédure civile, procédure administrative et droit des poursuites et faillites.</p>
  <p>Elle est également active au sein du Département de la formation , de la jeunesse et de la culture en qualité de mandataire externe.</p>
</div>