<div class="content">
  <p>En 2007-2008, Sandrine Chiavazza a travaillé comme juriste spécialiste en droit des marques au sein d’une société responsable de la gestion des marques pour un grand groupe sud-américain localisé au Mexique.</p>
  <p>Sandrine a ensuite travaillé durant six mois comme greffière au Tribunal d’arrondissement de la Côte avant de débuter son stage d’avocat.</p>
  <p>Titulaire du brevet d’avocat depuis février 2011, Sandrine Chiavazza a décidé d’orienter sa pratique dans les domaines suivants :</p>
  <ul>
    <li>- Droit de la famille</li>
    <i>-  Droit pénal</i>
    <li>- Droit administratif, en particulier la loi sur le chômage et le droit des étrangers.</li>
    <li>- Droit des contrats</li>
    <li>- Droit des poursuites et faillites</li>
  </ul><br />
  <p>Au niveau pénal, Sandrine Chiavazza intervient en tant qu’avocate de la première heure depuis février 2011.</p>
  <p>Elle s’est en outre vue confier par les instances judiciaires plusieurs mandats de représentation des enfants mineurs dans le cadre de procédures pénales et civiles. </p>
</div>