<div class="content">
  <p>Joël Crettaz est actif dans la vie culturelle lausannoise et du canton de Vaud. Il est membre du Conseil de fondation du Béjart Ballet Lausanne. Il préside l'Association <span class="italic">Une Capitale pour la danse.</span> Il a présidé la Fondation du Théâtre de l'Arsenic. </p>
</div>