<div class="content">
  <p>Joël Crettaz a orienté sa pratique vers :</p>
  <ul>
    <li>- le droit de la responsabilité (responsabilité civile et médicale)</li>
    <li>- le droit des assurances sociales (AI, LAA, LPP, chômage) et privées</li>
    <li>- le droit de la famille (divorce, séparation, droit matrimonial)</li>
    <li>- le droit du bail</li>
    <li>- le droit du travail.</li>
  </ul>
</div>