<div class="content">
  <p>Joël Crettaz est licencié en droit de l'Université de Lausanne. Docteur en droit de cette même Université, il a soutenu sa thèse en 1990 sous la direction du Professeur Pierre Engel dans le domaine du droit des contrats et de la responsabilité civile et médicale ("De l'inexécution des obligations contractuelles du médecin : quelques aspects").</p>
  <p>Il a effectué son stage d'avocat en l'étude de Me Jacques Baumgartner à Lausanne, de 1989 à 1991, date à laquelle il a obtenu son brevet d'avocat. Jusqu'en 1994, il a travaillé en qualité de collaborateur pour l'étude de Me Baumgartner.</p>
  <p>Il a rejoint l'étude Pépinet 4 en 1994. Il est associé en cette étude depuis lors.</p>
</div>