<div class="content">
  <p>Joël Crettaz est mandataire agréé par le Fonds d'appui judiciaire de l'Association suisse des locataires (ASLOCA).</p>
  <p>Il est avocat consultant auprès de l'Association suisse des assurés (ASSUAS).</p>
  <p>Il est membre du Comité de rédaction de la Revue générale de droit médical.</p>
  <p>Durant de nombreuses années, Joël Crettaz a travaillé en qualité d'enseignant auprès de l'Ecole d'infirmières de La Source.</p>
  <p>Il est intervenu comme conférencier extraordinaire sur le droit de la responsabilité médicale auprès de l'Ecole de la magistrature à Paris.</p>
</div>