<h3>Curriculum Vitae</h3>
<ul>
  <li><span class="icon icon-book"></span><a href="#">Formation</a></li>
  <li><span class="icon icon-lock"></span><a href="#">Expériences professionel</a></li>
  <li><span class="icon icon-comment"></span><a href="#">Autres activités</a></li>
  <li><span class="icon icon-user"></span><a href="#">Vie associative</a></li>
  <li><span class="icon icon-pencil"></span><a href="#">Publication</a></li>
</ul>