<div class="content">
  <p>Anne-Sylvie Dupont est licenciée en droit de l’Université de Fribourg. Titulaire d’un doctorat délivré par la Faculté de droit de Genève, elle a soutenu sa thèse en 2004, dans le domaine de la responsabilité civile <span class="italic">(« Le dommage écologique. Le rôle de la responsabilité civile en cas d’atteinte au milieu naturel »).</span></p>
  <p>Elle a effectué son stage d’avocat entre 2004 et 2006, au sein de l’Etude Pépinet 4, au sein de laquelle elle est ensuite restée en qualité d’associée.</p>
  <p>Elle a obtenu le titre de spécialiste FSA responsabilité civile et droit des assurances en 2012.</p>
  <p>De langue maternelle française, elle parle couramment l’allemand et peut assurer le suivi de dossiers dans cette langue. Elle parle également l’anglais.</p>
</div>