<div class="content">
  <p>Anne-Sylvie Dupont est vice-présidente de l’ASSUAS-Vaud, et présidente de la Commission vaudoise des PAH de Pro Infirmis. Elle est membre du comité de la section suisse de l’Association Henri Capitant, et membre des Juristes progressistes vaudois.</p>
</div>