<div class="content">
  <p>Anne-Sylvie Dupont est chargée d’enseignement au sein de la Faculté de droit de Neuchâtel depuis 2010, où elle enseigne le droit des assurances sociales. Elle intervient dans de nombreuses formations, destinées à des personnes de tous horizons (avocats, assistants sociaux, etc.).</p>
</div>