<div class="content">
  <p><span class="italic">La responsabilité de l'Etat (art. 43 et 43a AP): la responsabilité des hôpitaux publics et de leurs agents,</span> in: La réforme du droit de la responsabilité civile, enseignement de 3ème cycle de droit, Bénédict Foëx / Franz Werro (édits), Genève/Zurich/Bâle 2004, pp. 235-250.</p>
  <p><span class="italic">Dommage: vers une nouvelle définition?,</span> in: SJ 2003 II, pp. 471-484.</p>
  <p><span class="italic">Le dommage écologique: le rôle de la responsabilité civile en cas d'atteinte au milieu naturel,</span> thèse Genève, Genève/Zurich/Bâle 2005.</p>
  <p><span class="italic">Les préjudices écologiques: rapport suisse,</span> in: L'indemnisation: journées québécoises, Travaux de l'Association Henri Capitant, tome 54, Paris 2008, pp. 453-472.</p>
  <p><span class="italic">Recueil en droit social suisse: assurances sociales, droit du travail</span> (avec Jean-Samuel Hoffmann), Bettina Kahil-Wolff / Rémy Wyler (dir.), 3ème éd., Genève 2008. </p>
  <p><span class="italic">Droit public, responsabilité civile et protection de l'environnement: deux outils au service d'un objectif essentiel</span>, in: DEP 4/2009, pp. 421-438.</p>
  <p><span class="italic">Commentaire des art. 59a à 59d LPE</span>, in: Loi sur la protection de l'environnement (LPE), Pierre Moor / Anne-Christine Favre / Alexandre Flückiger (édits), Berne 2010.</p>
  <p><span class="italic">Prestations complémentaires pour les familles: un prétexte à quelques réflexions sur la sécurité sociale en Suisse</span>, in: Plaidoyer 2/2011, pp. 22-25.</p>
  <p><span class="italic">Dernières tendances de la jurisprudence en matière de responsabilité médicale,</span> in: Responsabilité médicale et assurance, 17ème Journée de l’Institut du droit de la santé, Olivier Guillod (édit.), Berne 2011, pp. 43-63.</p>
  <p><span>Assurances-maladie complémentaires: ne rien vouloir mais s'assurer quand même?</span>, Pour un droit équitable, engagé et chaleureux: Mélanges en l’honneur de Pierre Wessner, Bâle 2011, pp. 585-598.</p>
  <p><span class="italic">Assurances sociales. Jurisprudences choisies,</span> in: Plaidoyer 4/2012, pp. 43-47.</p>
  <p><span class="italic">Droit social. Volume II : droit des assurances sociales. Recueil de textes</span>, Anne-Sylvie Dupont / Bettina Kahil-Wolff / Jean-Philippe Dunand / Rémy Wyler (édits), 2ème éd., Bâle 2012.</p>
  <p><span class="italic">Le nouvel article 8 LCD et les conditions générales d'assurance,</span> in: Le nouveau droit des conditions générales et pratiques commerciales déloyales, Neuchâtel 2012, pp. 99-142.</p>
  <p><span class="italic">Commentaire des art. 331 à 331f CO,</span> in: Commentaire du contrat de travail, Jean-Philippe Dunand / Pascal Mahon (édits), Berne 2013.</p>
</div>