<div class="content">
  <p>Anne-Sylvie Dupont consacre son activité professionnelle à son domaine de spécialisation : le droit de la responsabilité civile et le droit des assurances, sociales et privées. Son domaine d’expertise est le dommage de personne et ses conséquences en droit des assurances. Elle est ainsi rompue aux procédures en matière notamment d’assurance-invalidité, d’assurance-accidents, de prévoyance professionnelle et d’assurances perte de gain, ainsi qu’en matière de responsabilité civile.</p>
  <p>Elle assure en outre la défense de personnes impliquées dans des accidents, tant en qualité de responsables que de victimes, dans les procédures pénales et administratives qui s’ensuivent (retrait de permis, etc.).</p>
</div>