<div class="content">
  <p>Pendant une vingtaine d’années, Jacques Micheli a assumé des responsabilités au sein des associations de défense des locataires (Président de l’ASLOCA Vaud, Vice-Président de la Fédération Suisse des Locataires).</p>
  <p>Avec Me Philippe Nordmann, il a été l’un des fondateurs de l’ASSUAS (Association Suisse des Assurés). Il a présidé la section vaudoise de cette organisation.</p>
  <p>Jacques Micheli a également été actif sur le plan culturel. Il a présidé la Fondation du Théâtre de Vidy et fait partie d’associations de soutien de certains artistes plasticiens.</p>
  <p>Il a participé régulièrement – et deux fois comme conférencier - aux séminaires du droit du bail à Neuchâtel ainsi qu’à des colloques de l’Institut de recherche sur le droit de la responsabilité civile et des assurances (IRAL).</p>
  <p>Enfin, il a participé à diverses émissions de télévision, notamment à Temps Présent, notamment au sujet du secret médical.</p>
</div>