<div class="content">
  <p>Jacques Micheli est l’auteur de différents ouvrages concernant le bail à loyer, en particulier le « Guide du locataire » et, en collaboration avec Me David Lachat, à l’ouvrage intitulé « Le nouveau droit du bail».</p>
  <p>Au Séminaire du droit du bail à Neuchâtel il a présenté deux contributions au sujet des colocataires dans le bail commun en 1994 et concernant les transactions couplées au bail en 2004.</p>
  <p>Avec Me Philippe Nordmann et Me Jean Jacques Schwaab, il a collaboré à la rédaction d'un ouvrage collectif relatif à la protection contre les licenciements en droit suisse.</p>
  <p>Jacques Micheli est également co-auteur d’un ouvrage paru en 2000 intitulé « Le nouveau droit du divorce ». Avec ses associés, il travaille actuellement à un nouveau guide en la matière incluant les dernières modifications du Code civil au sujet notamment de l’autorité parentale conjointe.</p>
  <p>Dans le cadre d’un colloque de l’IRAL, il a présenté une contribution intitulée « Le droit du patient assuré au respect du secret médical ».</p>
  <p>Enfin, il projette, lorsque son activité professionnelle lui en laissera le temps, de rédiger un ouvrage au sujet de la remise d’un commerce. Comme conseil de plusieurs établissements publics, il a, dans ce domaine, acquis une vaste expérience.</p>
</div>