<div class="content">
  <p>Jacques Micheli a commencé sa scolarité à Berne et l’a poursuivie à l’Ecole Nouvelle de la Suisse Romande à Lausanne. Il a obtenu sa maturité fédérale en 1963.</p>
  <p>Il a fait des études de droit et de sciences politiques dans les Universités de Lausanne, Washington et Tübingen.</p>
  <p>Il est docteur en droit. Sa thèse de doctorat est une étude de droit comparé (suisse, américain et allemand) dans le domaine de la législation sur les cartels.</p>
  <p>Après un stage en l'Etude de Me Philippe Jaques à Lausanne, il a obtenu son brevet d’avocat en 1973 et pratique depuis lors, soit depuis une quarantaine d’années, la profession à titre indépendant.</p>
  <p>Associé avec son ancien maître de stage pendant trois ans, Jacques Micheli a fondé en 1976 sa propre étude en association avec Me Philippe Nordmann.Trois ans plus tard, Me Jean Jacques Schwaab a rejoint cette étude.</p>
  <p>Le cabinet s’est ensuite agrandi et a accueilli successivement Me Catherine Jaccottet Tissot, Me Joël Crettaz, Me Anne-Sylvie Dupont et enfin Me Sandrine Chiavazza.</p>
  <p>De langue maternelle française, Jacques Micheli parle l’allemand et l’anglais</p>
</div>