<div class="content">
  <p>Jacques Micheli a orienté sa pratique à la fois dans le domaine du conseil et du contentieux.</p>
  <p>Praticien généraliste, son expérience professionnelle lui permet d’assister sa clientèle dans divers domaines du droit, et en particulier :</p>
  <ul>
    <li>- droit des contrats (spécialement bail et travail) ;</li>
    <li>- droit de la famille (divorces et séparations) ;</li>
    <li>- droit des assurances sociales et privées (spécialement assurances perte de gain) ;</li>
  </ul>
  <p>Conscient des aléas des procédures judiciaires, Jacques Micheli cherche à privilégier :</p>
  <ul>
    <li>- les conseils à la clientèle avant tout litige ;</li>
    <li>- la recherche d’une solution amiable s’il y a conflit.</li>
  </ul><br />
  <p>Au fil de sa carrière, Jacques Micheli a su gagner la confiance d’une clientèle fidèle, qui compte en particulier plusieurs petites et moyennes entreprises. Il est à leur disposition pour des conseils et des démarches pour les défendre dans un procès.</p>
  <p>Jacques Micheli sait à la fois se montrer conciliant et négociateur, lorsqu’un arrangement est possible, et tenace et combatif lorsqu’un procès est inévitable</p>
  <p>Mû par la passion de défendre, Jacques Micheli s’engage à fond dans la défense des intérêts de ses clients et leur fait bénéficier de sa longue et vaste expérience professionnelle</p>
</div>