<div class="life">
  <ul>
    <li>- Association Suisse des Locataires : <a href="asloca.ch">www.asloca.ch</a></li>
    <li>- Juristes Démocrates de Suisse : <a href="www.djs-jds.ch">www.djs-jds.ch</a></li>
    <li>- Ordre des Avocats Vaudois : <a href="www.oav.ch">www.oav.ch</a></li>
    <li>- Fédération Suisse des Avocats : <a href="www.swisslawyers.com">www.swisslawyers.com</a></li>
    <li>- Centre Sport Etudes Lausanne : <a href="www.csel.ch">www.csel.ch</a></li>
    <li>- Radio-Télévision Suisse Romande : <a href="www.rtsr.ch">www.rtsr.ch</a></li>
    <li>- SD Société de Gestion et Conseils SA : <a href="www.sdingenierie.com/sdigestion.php">www.sdingenierie.com/sdigestion.php</a></li>
    <li>- Cercle de la voile de Vidy : <a href="www.cvvidy.ch">www.cvvidy.ch</a></li>
  </ul>
</div>