<div class="content">
  <p>Jean Jacques Schwaab est docteur en droit de l’Université de Lausanne. Il a soutenu sa thèse en 1976 dans le domaine de la procédure civile et pénale <span class="italic">(Devoirs de discrétion et obligation de témoigner et de produire des pièces)</span>.</p>
  <p>Dès avant l’obtention de sa licence en droit, Jean Jacques Schwaab a été greffier ad hoc auprès des tribunaux de district, de la cour civile et de diverses commissions de recours dans le canton de Vaud. Il a ensuite été nommé greffier des Tribunaux des districts de Vevey et Lavaux, charge qu’il a occupée de 1974 à 1975.</p>
  <p>Il a effectué son stage d’avocat entre 1975 et 1977 en l’Etude Carrard et Associés, dont il a été ensuite quelques mois collaborateur.</p>
  <p>En 1978, il a été collaborateur de l’Etude Lavery, O’Brien à Montréal, avant de s’associer avec Jacques Micheli et Philippe Nordmann, dans le cabinet qui allait devenir l’Etude Pépinet 4. </p>
</div>