<div class="content">
  <p>- <span class="italic">« Devoirs de discrétion et obligation de témoigner et de produire des pièces »</span>, Thèse Lausanne 1976 ;</p>
  <p>- Contributions aux Guides Juridiques Pratiques, Payot Lausanne, <span class="italic"> « Difficultés conjugales, divorce, séparation »</span> et <span class="italic">« Vos droits de créancier »</span> ;</p>
  <p>- Co-auteur du premier <span class="italic">« Guide du locataire »</span> de l’Asloca ;</p>
  <p>- <span class="italic">« La fixation et la contestation du loyer initial »</span>, 15ème Séminaire sur le droit du bail, Université de Neuchâtel, 2008 ;</p>
  <p>- <span class="italic">« Vinet à l’Académie (1837-1846), Les devoirs de la liberté »</span>, in Alexandre Vinet : Regards actuels, Cahier de la Renaissance vaudoise n°130, 1997.</p>
</div>