<div class="content">
  <p>Jean Jacques Schwaab a orienté sa pratique vers : </p>
  <ul>
    <li>- le droit du bail ;</li>
    <li>- le droit du travail;</li>
    <li>- le droit administratif (en particulier police des constructions, droit des étrangers, droit des établissements publics) ;</li>
    <li>- le droit de la famille;</li>
    <li>- le droit des obligations.</li>
  </ul>
</div>