<div class="content">
  <p>-  Catherine Jaccottet Tissot, Iulia Hasdeu, Niels Kapferer, Marco Mona <span class="italic">« Krisromani, une autre approche du conflit ? » AJP/PJA 2013, pp. 6 ss</span>, réflexions sur la justice Rom</p>
  <p>-  <span class="italic">Ethique de l’avocat mandataire d’une victime – les devoirs et les obligations du conseil LAVI</span> in Das revidierte Opferhilfegesetz, <span class="italic">La nouvelle Loi fédérale sur l’aide aux victimes d’infractions, Zurich-St-Gall 2009</span>, pp. 183 ss</p>
  <p>-  <span class="italic">Les procès en égalité : de l’exigence de la justice à la pratique,</span> Revue AJP/PJA 12/2004, pp. 1514 ss</p>
  <p>-  <span class="italic">Le nouveau droit du divorce, tour d’horizon,</span> Revue Plädoyer 2/2003, pp. 54 ss</p>
  <p>-  <span class="italic">Exercice des droits strictement personnels du mineur capable de discernement, entre liberté et protection : l’exemple de l’accès au Planning familial,</span> article rédigé en collaboration avec le Dr Nahum Frenck, Revue Fampra 2002, pp. 503 ss</p>
  <p>-  <span class="italic">Protection de l’enfant et respect de l’autorité parentale : une contradiction insoluble,</span> Questions familiales, Bulletin d’information de la Centrale pour les questions familiales à l’Office fédéral des assurances sociales, 2/3 2002, pp. 10 ss</p>
  <p>-  <span class="italic">La médiation familiale et le nouveau droit du divorce</span> in La mise en œuvre et la protection des droits, tiré à part du Journal des Tribunaux 2002, Faculté de droit de l’Université de Lausanne, pp. 126 ss</p>
  <p>-  <span class="italic">Les indemnités journalières en cas de grossesse et de maternité,</span> Publication de l’IRAL, sous la direction du Prof. Duc, Lausanne 2001</p>
  <p>-  <span class="italic">Vos droits au travail</span>, ouvrage collectif, Dossier Bon à Savoir, Ed. Plus SàRL, Lausanne 2001, réédition en cours</p>
  <p>-  <span class="italic">L’audition de l’enfant,</span> revue FamPra 1/2000, pp. 80 ss</p>
  <p>-  <span class="italic">Le nouveau droit du divorce</span>, ouvrage collectif, Ed. Pépinet, Lausanne 1999</p>
  <p>-  <span class="italic">Harcèlement sexuel et loi sur l’égalité</span>, article paru dans la revue Plädoyer, 2/99 pages 50 ss</p>
  <p>-  <span class="italic">Pensions alimentaires, aide au recouvrement et avance,</span> ouvrage publié sous la direction de Valy Degoumois, Ed. Médecine et Hygiène 1982</p>
  <p>-  <span class="italic">Les obligations alimentaires envers les enfants dans les conventions de la Haye,</span> Thèse de doctorat, Ed. Peter Lang, Bern et Francfort 1982</p>
</div>