<div class="content">
  <p>Catherine Jaccottet Tissot déploie une importante activité pédagogique. Elle est sollicitée comme intervenante dans des cadres divers (Académie suisse de la magistrature, cours de spécialisation pour avocats organisés par la Fédération suisse des avocats, Hautes Ecoles) dans les domaines du droit de la famille, du droit de l’égalité hommes-femmes et des modes alternatifs de résolution des conflits (médiation).</p>
</div>