<div class="content">
  <p>Catherine Jaccottet Tissot est licenciée en droit et en sciences politiques de l’Université de Lausanne. Docteur en droit de cette même université, elle a soutenu sa thèse en 1981 dans le domaine du droit international privé de la famille <span class="italic">(« Les obligations alimentaires envers les enfants dans les conventions de La Haye »).</span></p>
  <p>Elle a effectué son stage d’avocat de 1981 à 1983 dans l’Etude Pépinet 4, à laquelle elle s’est associée dès la délivrance de son brevet d’avocat.</p>
  <p>Elle a effectué un stage d’une année au sein de l’étude Four Essex Court à Londres en 1988-1989.</p>
  <p>Elle a achevé la formation en médiation générale dispensée à l’Institut universitaire Kurt Boesch en 2003 et est détentrice du titre de médiatrice de la Fédération suisse des avocats.</p>
  <p>De langue maternelle française, elle parle couramment l’anglais et peut également assurer le suivi de dossiers en allemand</p>
</div>