<div class="content">
  <p>Catherine Jaccottet Tissot a orienté sa pratique vers :</p>
  <ul>
    <li>- le droit de la famille (divorces, séparations, droits de l’enfant, droit matrimonial);</li>
    <li>- le droit des personnes (droit au respect de l’intégrité physique et psychique, droit de choisir son orientation sexuelle, changement de nom);</li>
    <li>- le droit de l’égalité entre les femmes et les hommes;</li>
    <li>- le droit du travail, y compris les cas de discrimination et de mobbing.</li>
  </ul><br />
  <p>Elle assure au pénal des défenses de victimes au sens de la Loi sur l’aide aux victimes d’infractions et, dans les affaires de droit de famille, des mandats de curatelle de représentation d’enfants mineurs.</p>
  <p>Elle fonctionne en qualité de médiatrice dans les domaines familial, du travail et, de manière générale, des conflits interpersonnels.</p>
</div>