<div class="content">
  <p>Catherine Jaccottet Tissot est membre de diverses associations, dont les Juristes progressistes vaudois, l’Association Femmes juristes suisses ainsi que la Section suisse de la Commission internationale des juristes.</p>
</div>