<header class="competences">
  <h2>Domaines de compétences</h2>
</header>

<content class="competences">
  <ul>
    <li>Assurances sociales et privées</li>
    <li>Responsabilité civile</li>
    <li>Bail</li>
    <li>Travail</li>
    <li>Droit de la construction</li>
    <li>Droit de la famille</li>
    <li>Médiation</li>
    <li>Droit pénal</li>
    <li>Droit des étrangers</li>
  </ul>
</content>
