<header class="etude">
  <h2>A propos de l'étude</h2>
</header>

<section class="etude">
  <p>L'Etude Pépinet 4 a été fondée en 1976 par Me Jacques Micheli et Me Philippe Nordmann, rejoints par
    Me Jean-Jacques Schwaab en 1979. Elle a acquis sa notoriété dans le domaine de la protection des
    locataires, des salariés et des assurés.</p>

  <p>Composée aujourd'hui de six avocats généralistes dont les compétences se complètent pour couvrir
    tous les domaines du droit judiciaire, l'Etude Pépinet 4 met tout en œuvre pour offrir aux personnes
    qui la consultent un conseil global et leur proposer des solutions personnalisées. Les avocats de
    Pépinet 4 s'attachent à privilégier la voie la plus efficace et la plus rationnelle pour offrir à
    leurs clients une solution satisfaisante à des coûts raisonnables.</p>

  <p>Les avocats de Pépinet 4 ont la chance de pouvoir compter sur des secrétaires expérimentés et
    compétents, à même de vous orienter et de vous donner les premiers renseignements utiles.</p>
</section>
