<%# for pjax %>
<div class="empty"></div>
<div class="book_presentation">
  <div id="cover_book_small">
    <%= image_tag 'cover_book.png' %>
  </div>
  <div id="book_text">
    <h3>Divorcer un guide juridique</h3>
    <p>Cet ouvrage est une refonte complète du livre « Le nouveau droit du divorce», paru en 1999.</p>
  </div>
  <div id="book_button">
    <a href="/livres" id="btn-command" >Commander le livre</a>
  </div>
</div>
