<header id="book">
  <h2 class="book_title">Livre</h2>
  <p id="confirmable">Votre commande a été passé avec succès ! <span class="close">x</span></p>
  <h2 class="commande_title">Commande</h2>
</header>
<section class="content">
  <div id="cover_book">
    <%= image_tag 'cover_book.png' %>
  </div>
  <div id="description_book">
    <h3>Divorcer - Un guide juridique</h3>
    <p>Cet ouvrage est une refonte complète du livre <span>« Le nouveau droit du divorce »</span>, paru en 1999. Il intègre les importantes modifications législatives intervenues depuis lors – autorité parentale conjointe, garde conjointe, garde alternée, nom de famille, conditions du divorce et procédure.</p>
    <p>Rédigé par des avocats expérimentés, ce guide juridique et pratique s’adresse à toute personne concernée par le divorce, à titre professionnel ou personnel. Les auteurs apportent une réponse claire à des questions souvent techniques mais très importantes en pratique, notamment dans le domaine de la prévoyance et des assurances sociales et en matière de droit des étrangers.</p>
    <p>La matière est exposée de matière systématique, rigoureuse et aisément compréhensible.</p><br />
    <a href="/pdf/flyers_divorcer-guide_juridique.pdf" target="_blank">Flyer d'information</a><br />
  </div>
  <div id="purchase_form">
    <p>65 CHF<br/>+ frais de port (jusqu'au 15 mai 2014)</p>
    <p>80 CHF<br/>+ frais de port (dès le 15 mai 2014)</p>
    <form>
      <input placeholder="Quantité"></input>
      <input placeholder="Prénom Nom"></input>
      <input placeholder="Adresse"></input>
      <input placeholder="Code postal"></input>
      <input placeholder="Ville"></input>
      <input placeholder="Email"></input>
      <input placeholder="Téléphone"></input>
    </form>
    <a href="#" id="btn-command" target="_blank">commander le livre</a>
  </div>
</section>
