<header class="jobs">
  <h2>Postes à pourvoir</h2>
</header>

<section class="jobs">
  <p><strong>Pour les stagiaires :</strong> Nous ne commençons à recruter qu'entre octobre et novembre 2012.</p>

  <p>Aucun poste vacant</p>
</section>
