<header class="jobs">
  <h2>Postes à pourvoir</h2>
</header>

<section class="jobs">
  <p><strong>Pour les stagiaires :</strong> Notre Etude n'engage pas de stagiaires pour l'instant.</p>

  <p>Aucun poste vacant</p>
</section>
