<header class="ressources">
  <h2>Ressources</h2>
</header>

<content class="ressources">
  <ul>
    <li><a href="http://www.mediation-oav.ch/">Chambre de médiation de l'OAV</a></li>
    <li><a href="http://www.agnodice.ch/">Fondation Agnodice</a></li>
    <li><a href="http://www.assuas-vd.ch/">Association Suisse des Assurés</a></li>
    <li><a href="http://www.djs-jds.ch/">Juristes Démocrates de Suisse</a></li>
    <li><a href="http://www.asloca.ch/">Association Suisse des Locataires</a></li>
    <li><a href="http://www.oav.ch/">Ordre des Avocats Vaudois</a></li>
    <li><a href="http://www.sav-fsa.ch/">Fédération Suisse des Avocats</a></li>
  </ul>
</content>
