<header class="tarifs">
  <h2>Tarifs</h2>
</header>

<section class="tarifs">
  <p>Les tarifs pratiqués à l'étude varient entre CHF 300.- et CHF 400.- de l'heure selon
  l'importance, la compléxité et la particularité de l'affaire.</p>

  <p>Nous offrons des tarifs préférentiels pour les associations à but idéal.</p>

  <p>Si les conditions d'octroi sont remplies, vous avez la possibilité de recourir à l'assistance
    judiciaire dont le tarif s'élève à CHF 180.- de l'heure.</p>

  <p>L'étude revendique une transparence complète sur le montant des honoraires. N'hésitez pas à
    évoquer cette question avec votre avocat qui vous renseignera en tout temps sur les opérations
    effectuées dans le cadre de votre dossier.</p>
</section>
