<header class="news_item">
  <h2><%= @news.title %></h3>
  <em><%= l @news.published_at.to_time, format: :news_date %></em>
</header>
<content id="news_<%= @news.id %>" class="news_item">
  <%= simple_format @news.content %>
</content>

