@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/layout/stretching";

@import "fonts";

$font_family: "calibri", "helvetica neue", "arial", "sans-serif";
$font_family_title: "steelfish", "sans-serif";

$font_color: #4f4f4f;
$font_color_active: #00539b;
$font_color_footer: #232323;

$background_color: #cdcdcd;

@import "scrollbar";

body {
  background-color: $background_color;

  font-size: 16px;
  line-height: 18px;
  font-family: $font_family;
  color: $font_color;
}
