@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

@import "fonts";

$font_menu: "steelfish", "sans-serif";
$font_footer: "calibri", "helvetica neue", "arial", "sans-serif";

$font_color: #4f4f4f;
$font_color_active: #00539b;

$font_color_footer: #232323;
