.update_books {
  width: 800px;

  .scrollbar-pane {
    width: 785px;
  }

  .updates {
    width: 765px;
    @include pie-clearfix;
    position: relative;
    margin: 30px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;

    .text {
      width: 580px;
      margin-right: 10px;
      float: left;

      h2 {
        font-size: 1.8em;
        line-height: 30px;
      }

      .created_at {
        font-style: italic;
        color: $font_color_active;
      }
    }

    .sidebar {
      width: 180px;
      position: absolute;
      top: 30px;
      right: 0px;

      .chapter {
        font-size: 1.5em;
        color: $font_color_active;
        margin-bottom: 20px;
        text-align: right;
      }

      img {
        margin-left: 100px;
        padding-bottom: 30px;
      }
    }
  }
}