header#book {

  #confirmable {
    display: none;
    margin-top: 20px;
    padding: 10px 10px;
    color: #FFF;
    background-color: #00A265;
    @include border-radius(8px, 8px);
    @include opacity(0.7);

    .close {
      cursor: pointer;
      float: right;
    }
  }

  .book_title, .commande_title {
    float: left;
  }

  .commande_title {
    margin-left: 548px;
    margin-bottom: 20px;
  }
}

section.content {
  clear: both;
  width: 900px;
  @include pie-clearfix;

  #cover_book {
    width: 209px;
    margin-right: 40px;
    float: left;

    img {
      width: 209px;
      border: solid 1px #5D0063;
    }

    .btn-command-annexe {
      font-weight: bold;
      font-size: 12px;
      display: inline-block;
      width: 180px;
      height: 15px;
      margin-top: 25px;
      padding: 15px 15px;
      color: #FFF;
      background-color: #203D9B;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      border: none;
      @include box-shadow($font_color_footer -1px -1px 1px 0 inset);
    }
  }

  #description_book {
    width: 340px;
    float: left;

    p {
      font-family: "Trebuchet MS";
      font-size: 14px;

      span {
        font-style: italic;
      }
    }

    a {
      color: $font_color_active;
    }
  }

  #purchase_form {
    width: 249px;
    height: 450px;
    float: left;
    background-color: rgba(235,235,235,0.62);
    border: 1px solid #c9c9c9;

    form {
      margin-top: 15px;
    }

    input.btn-command {
      font-weight: bold;
      font-size: 12px;
      display: inline-block;
      width: 217px;
      height: 45px;
      margin-left: 16px;
      margin-top: 25px;
      padding: 15px 15px;
      color: #FFF;
      background-color: #00A265;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      border: none;
      @include box-shadow($font_color_footer -1px -1px 1px 0 inset);
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      color: rgb(38, 92, 191);
      margin-left: 16px;
    }

    p.success {
      margin-top: 30px;
      font-size: 15px;
      text-align: center;
    }

    input {
      width: 209px;
      height: 25px;
      margin-top: 6px;
      margin-left: 16px;
      font-size: 16px;
    }

    .field_with_errors {
      input {
        background-color: #FFDFDF;
        border: 1px solid #FF0000;
      }
    }
  }
}
