&> .team {
  @include clearfix;
  display: block;
  margin-top: 40px;
  margin-left: 0px;
  width: 100%;

  nav {
    display: block;

    button {
      background: none;
      border: none;
      padding: 0;
      margin: auto;
      cursor: pointer;

      span {
        display: block;
      }
    }

    &.arrow {
      @include float(left);
      display: block;
      width: image-width('etude-pepinet-4-logo.jpg') + 20px;
      margin-top: 200px;

      button {
        display: block;
        width: image-width('button-previous.png');
        height: image-height('button-previous.png');
      }
    }

    &.previous {
      @extend .arrow;

      button span {
        @include replace-text-with-dimensions('button-previous.png');
      }

      button:hover span {
        @include replace-text-with-dimensions('button-previous-hover.png');
      }
    }

    &.next {
      @extend .arrow;

      button span {
        @include replace-text-with-dimensions('button-next.png');
      }

      button:hover span {
        @include replace-text-with-dimensions('button-next-hover.png');
      }
    }

    &.people {
      position: absolute;
      text-align: center;
      bottom: 0px;
      left: 0px;
      width: 100%;
      @include clearfix;

      ul {
        @include clearfix;
        @include inline-block;
        @include horizontal-list(10px, left);
        height: 40px;
        line-height: 40px;

        button {
          @include opacity(0.2);
          font-size: 12px;
        }

        &:hover button, & li.active button {
          @include opacity(1);
        }

        button:hover {
          color: $font_color_active;
        }
      }

      // hide on msie7 beacause style render very bad
      .msie-7 & {
        display: none;
      }
    }
  }

  section {
    @include float(left);
    display: block;
    overflow: hidden;
    position: relative;
    width: 700px;
    height: 600px;

    article {
      display: none;
      position: absolute;
      margin-top: 100px;
      top: 0px;
      left: 0px;
      width: 700px;
      height: 600px;

      h2 {
        display: none;
      }

      strong {
        text-transform: uppercase;
        color: $font_color_active;
        font-family: $font_family_title;
        font-size: 24px;
        font-weight: normal;
      }

      .contact {
        margin-left: 0px;
      }

      .cv {
        h3 {
          margin-bottom: 20px;
        }

        ul {
          li {
            margin-top: 5px;

            span {
              margin-right: 7px;
            }

            a {
              color: $font_color_active;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }

      h3 {
        width: 430px;
        text-transform: uppercase;
        color: $font_color_active;
        font-family: $font_family_title;
        font-size: 24px;
        font-weight: normal;
        margin-top: 40px;
      }

      p {
        width: 430px;
        text-align: justify;
      }

      img {
        position: absolute;
        top: -110px;
        right: 0px;
      }

      a {
        color: $font_color;
        text-decoration: none;

        &:hover {
          color: $font_color_active;
        }
      }
    }

    article:first-child {
      display: block;
    }
  }
}
