/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "base";

body {
  &> header > section,
  &> section,
  &> footer > section {
    display: block;
    width: 960px;
    margin: 0 auto;
  }

  // header
  &> header {
    @include clearfix;
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin: 40px 0 0 0;
    overflow: visible;

    h1 {
      @include float(left);
      a {
        display: block;
        @include replace-text-with-dimensions('etude-pepinet-4-logo.jpg');
      }
    }

    nav {
      @include float(left);
      font-family: $font_family_title;
      font-size: 24px;
      text-transform: uppercase;
      margin: 38px 0 0 20px;

      ul {
        @include horizontal-list(10px, left);

        a, a:visited {
          display: block;
          color: $font_color;
          text-decoration: none;
          padding-bottom: 6px;

          &:hover {
            color: $font_color_active;
          }

          &.active {
            border-bottom: 3px solid $font_color_active;
          }
        }
      }
    }
  }

  // content
  #main {
    @include clearfix;
    clear: both;
    display: block;
    position: relative;
    height: 725px;

    &> header, &> section {
      display: block;
      margin-left: image-width('etude-pepinet-4-logo.jpg') + 20px;
      width: 700px;
    }

    &> header {
      margin-top: 55px;
      margin-bottom: 40px;

      h2 {
        font-size: 30px;
        line-height: 34px;
        color: $font_color_active;
        font-family: $font_family_title;
        text-transform: uppercase;
        font-weight: normal;
      }
    }

    h3 {
      font-weight: bold;
    }

    strong {
      font-weight: bold;
    }

    p {
      margin-top: 20px;
    }

    ul {
      li {
        a {
          color: $font_color_footer;
          text-decoration: none;

          &:hover {
            color: $font_color_active;
          }
        }
      }
    }

    // spcific pages
    @import "contact";
    @import "team";
    @import "news";
  }

  // footer
  &> footer {
    @include clearfix;
    position: relative;
    bottom: 0px;
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    color: $font_color_footer;

    em {
      font-size: 12px;
      font-style: italic;
    }

    section {
      @include clearfix;
      display: block;

      &> address, &> section {
        @include float(left);
        display: block;
        margin-top: 14px;
      }

      .news {
        display: block;
        margin-left: 165px;
        width: 380px;
        height: 100px;

        em {
          white-space: pre;
        }

        a {
          color: $font_color_footer;
          text-decoration: none;

          &:hover {
            color: $font_color_active;
          }
        }
      }

      .phones {
        @include float(right);
        text-align: right;
        width: 250px;
      }

      .schedule {
        @extend .phones;
        margin-top: 0px;
      }
    }
  }

  // Background
  #background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    overflow: hidden;
  }

  // Overlay
  #overlay {
    @include stretch;
    position: fixed;
    background-color: #ffffff;
    @include opacity(0.85);
    .homepage & { @include opacity(0); }
    z-index: -900;

    &.on-load {
      z-index: 1000;
      @include opacity(1);
      background-color: $background_color;
    }
  }
}


