/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "base";

body, body > div.wrapper {
  &> header > section,
  &> section,
  &> footer > section {
    display: block;
    width: 960px;
    margin: 0 auto;
  }

  // header
  &> header {
    @include clearfix;
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin: 40px 0 0 0;
    overflow: visible;

    h1 {
      @include float(left);
      a {
        display: block;
        @include replace-text-with-dimensions('etude-pepinet-4-logo.jpg');
      }
    }

    nav {
      @include float(left);
      font-family: $font_family_title;
      font-size: 24px;
      text-transform: uppercase;
      margin: 38px 0 0 20px;

      ul {
        @include horizontal-list(10px, left);

        a {
          i.label {
            color: #FF0000;
            text-transform: uppercase;
            font-size: 15px;
            position: absolute;
            top: 61px;
          }
        }

        a#link_label {
          padding-bottom: 0px;
        }

        a#link_label:hover {
          border-bottom: none;
        }

        a#link_label.active {
          border-bottom: none;
        }

        li.on > a {
          color: $font_color_active;
        }

        a, a:visited {
          display: block;
          color: $font_color;
          text-decoration: none;
          padding-bottom: 6px;

          &:hover {
            color: $font_color_active;
          }

          &.active {
            border-bottom: 3px solid $font_color_active;
          }
        }
      }
    }
  }

  // content
  #main {
    @include clearfix;
    clear: both;
    display: block;
    position: relative;
    height: 680px;
    overflow: visible;

    &> header, &> section {
      display: block;
      margin-left: image-width('etude-pepinet-4-logo.jpg') + 20px;
      width: 700px;
    }

    &> header {
      margin-top: 20px;
      margin-bottom: 40px;

      h2 {
        font-size: 30px;
        line-height: 34px;
        color: $font_color_active;
        font-family: $font_family_title;
        text-transform: uppercase;
        font-weight: normal;
      }
    }

    &> section {
      h3 {
        font-weight: bold;
      }

      strong {
        font-weight: bold;
      }

      p {
        margin-top: 20px;
        padding-right: 20px;
      }

      ul {
        li {
          a {
            color: $font_color_footer;
            text-decoration: none;

            &:hover {
              color: $font_color_active;
            }
          }
        }
      }
    }

    .login {
      width: 300px;
      height: 100px;
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -150px;
      background-color: #FFF;
      border: solid 2px $font_color_active;
      padding: 20px 20px;

      h4 {
        color: $font_color_active;
      }

      p {
        font-size: 0.8em;
        margin-bottom: 20px;
        line-height: 12px;
      }
    }

    // spcific pages
    @import "contact";
    @import "team";
    @import "news";
    @import "books";
    @import "annexe_book";
    @import "book_update";
  }

  // footer
  &> footer {
    @include clearfix;
    position: relative;
    bottom: 0px;
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    color: $font_color_footer;

    em {
      font-size: 12px;
      font-style: italic;
    }

    section {
      @include clearfix;
      display: block;

      &> address, &> section {
        @include float(left);
        display: block;
        margin-top: 14px;
      }

      h3, strong {
        font-weight: bold;
      }

      .news {
        display: block;
        margin-left: 55px;
        width: 330px;
        height: 100px;

        em {
          white-space: pre;
        }

        a {
          color: $font_color_footer;
          text-decoration: none;

          &:hover {
            color: $font_color_active;
          }
        }
      }

      .phones {
        @include float(right);
        text-align: right;
        width: 250px;
      }

      .schedule {
        @extend .phones;
        margin-top: 0px;
      }
    }
  }

  // Background
  #background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    overflow: hidden;
  }

  // Overlay
  #overlay {
    @include stretch;
    position: fixed;
    background-color: #ffffff;
    @include opacity(0.85);
    .homepage & { @include opacity(0); }
    z-index: -900;

    &.on-load {
      z-index: 1000;
      @include opacity(1);
      background-color: $background_color;
    }
  }
}

/* Overlay lightbox */
.overlay_lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;

  * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.background {
      background: $background_color;
      @include opacity(0.2);
    }

    &.loader {
      /*background: inline-image('loader.gif') center no-repeat;*/
    }
  }

}

body > .overlay {
  position: fixed;
}

/* Lightbox */
#details {
  position: relative;
  display: none;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px $font_color_active solid;
  background-color: white;
  z-index: 3000;

  .close {
    font-size: 2em;
    color: $font_color_active;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 3010;
  }

  article {
    $width: 900px;
    $padding: (960px - $width) / 2;
    width: $width;
    height: 440px;
    padding: $padding;
    display: none;
    position: absolute;
    z-index: 3005;
    @include pie-clearfix;

    h3 {
      width: 430px;
      text-transform: uppercase;
      color: $font_color_active;
      font-family: $font_family_title;
      font-size: 24px;
      font-weight: normal;
      float: left;

      .name {
        margin-left: 20px;
        color: grey;
      }
    }

    .icon_media {
      float: right;
      height: 30px;
      width: 80px;

      span.icon {
        float: right;
        height: 20px;
        width: 20px;
        margin-left: 10px;
      }

      .linkin {
        @include replace-text('linkin.jpg');
      }

      .twitter {
        @include replace-text('twitter.png');
      }

      .linkin:hover {
        cursor: pointer;
        @include replace-text('linkin_active.jpg');
      }

      .twitter:hover {
        cursor: pointer;
        @include replace-text('twitter_active.png');
      }
    }

    nav {
      border-bottom: solid 1px $font_color_active;
      padding-bottom: 45px;

      ul {
        margin-top: 20px;
        clear: both;

        li {
          width: 179px;
          height: 30px;
          padding-top: 15px;
          display: inline;
          float: left;
          border-left: 1px solid $font_color_active;

          span {
            margin-right: 5px;
          }

          a {
            color: $font_color_active;
          }
        }

        li.formation {
          border-left: none;

          span {
            margin-left: 20%;
          }
        }

        li.experience {
          span {
            margin-left: 20%;
          }
        }

        li.activity {
          span {
            margin-left: 15%;
          }
        }

        li.life {
          span {
            margin-left: 15%;
          }
        }

        li.publish {
          span {
            margin-left: 20%;
          }
        }

        li:hover, li.active {
          cursor: pointer;
          background-color: $font_color_active;

          a {
            color: white;
          }
        }
      }
    }

    .container {
      width: 900px;
      height: 355px;
      margin-top: 30px;
      padding-right: 30px;
      position: absolute;
      display: none;
      overflow: scroll;

      .content {
        p {
          margin-bottom: 20px;

          span.italic {
            font-style: italic;
            color: $font_color_active;
          }
        }
      }
    }
  }
}

.book_presentation {
  position: absolute;
  top: -16px;
  left: 185px;
  width: 650px;
  padding: 8px;
  background-image: url(/assets/background-light-opacity.png);

  #cover_book_small {
    float: left;
    height: 78px;

    img {
      border: solid 1px #5D0063;
      width: 51px;
    }
  }

  #book_text {
    float: left;
    width: 345px;
    height: 78px;
    margin-left: 20px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  #book_button {
    float: right;

    a#btn-command {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      width: 187px;
      height: 15px;
      margin-top: 15px;
      padding: 15px 15px;
      color: #FFF;
      background-color: #00A265;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      @include box-shadow($font_color_footer -1px -1px 1px 0 inset);
    }
  }
}

.logo {
  .logo_img {
    width: 100px;
    margin-bottom: 10px;
    margin-top: 13px;
    margin-left: 90px;
  }

  .logo_img_2 {
    width: 73px;
    margin-left: 20px;
  }
}


