/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "base";

body {
  &> header > content,
  &> content,
  &> footer > content {
    display: block;
    width: 960px;
    margin: 0 auto;
  }

  // header
  &> header {
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    @include clearfix;
    overflow: visible;

    h1 {
      @include float(left);
      a {
        display: block;
        @include replace-text-with-dimensions('etude-pepinet-4-logo.jpg');
      }
    }

    nav {
      @include float(left);
      font-family: $font_menu;
      font-size: 24px;
      text-transform: uppercase;
      margin: 38px 0 0 20px;

      ul {
        @include horizontal-list(12px, left);

        a, a:visited {
          display: block;
          color: $font_color;
          text-decoration: none;
          padding-bottom: 3px;

          &:hover {
            color: $font_color_active;
          }

          &.active {
            border-bottom: 3px solid $font_color_active;
          }
        }
      }
    }
  }

  // content
  #main {
    display: block;
    min-height: 725px;
    @include clearfix;
    clear: both;

    &> header, &> .contacts {
      margin-left: image-width('etude-pepinet-4-logo.jpg') + 20px;
    }

    &> content {
      @include float(left);
    }

    .contacts {
      width: 240px;

      a {
        color: $font_color;
        text-decoration: none;

        &:hover {
          color: $font_color_active;
        }
      }
    }

    .map {
      display: block;
      border: 11px solid #ffffff;
      border-left: 10px solid #ffffff;
      border-right: 10px solid #ffffff;
      width: 440px;
      height: 350px;
    }

    .address {
      margin-top: 20px;
      width: 460px;

      address {
        @include float(left);
      }

      .phones {
        @include float(right);
        text-align: right;
        width: 250px;
      }

      .schedule {
        @extend .phones;
        margin-top: 20px;
      }
    }
  }

  // footer
  &> footer {
    position: fixed;
    bottom: 0px;
    background-image: image-url('background-dark-opacity.png');
    .homepage & { background-image: image-url('background-light-opacity.png'); }
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    font-size: 14px;
    color: $font_color_footer;
    @include clearfix;

    em {
      font-size: 12px;
      font-style: italic;
    }

    content {
      &> address, &> content {
        display: block;
        @include float(left);
        margin-top: 14px;
      }

      .news {
        margin-left: 165px;

        a {
          color: $font_color_footer;
          text-decoration: none;

          &:hover {
            color: $font_color_active;
          }
        }
      }

      .phones {
        @include float(right);
        text-align: right;
        width: 250px;
      }

      .schedule {
        @extend .phones;
        margin-top: 0px;
      }
    }
  }

  // Background
  #background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    overflow: hidden;
  }

  // Overlay
  #overlay {
    @include stretch;
    background-color: #ffffff;
    @include opacity(0.85);
    .homepage & { @include opacity(0); }
    z-index: -900;
  }
}


